@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap');

p {font-family: 'Akshar', sans-serif;
font-family: 'Source Sans Pro', sans-serif;}

b {
background-color:red;
}

br {
 
}

nav {
    background: url('mairo.jpg') fixed;
    background-repeat: no-repeat;
    background-size: contain;
 
}



span {
	background-color:rgb(201, 76, 76);
}

span:hover {
  background-color: blue;
}

.mystyle {
	background-color: white;
}

